.today-icon {
    text-align: center;
    width: 40vh;
    height: 40vh;
}

.temp-today {
    display: block;
    font-size: 1.5em;
    padding-top: 5vh;
    min-width: 220px;
}

.other-today-info {
    padding-top: 5vh;
    color: #484848;
    font-size: 1.5em;
    min-width: 220px;
}

.other-today-info h3 {
    color: #484848;
}
